<%= form_for standup, html: {class: 'form-horizontal'} do |form| %>
    <div class='title control-group' style="padding-top: 8px">
      <%= form.label :title, class: 'control-label' %>
      <div class="controls">
        <%= form.text_field :title, :placeholder => 'Title', :size => nil, :class => "wide" %>
      </div>
    </div>

    <div class='subject_prefix control-group'>
      <%= form.label :subject_prefix, 'Email Subject Prefix', class: 'control-label' %>
      <div class="controls">
        <%= form.text_field :subject_prefix, :placeholder => 'Email Subject Prefix', :size => nil, :class => "wide" %>
      </div>
    </div>

    <div class='to_address control-group'>
      <%= form.label :to_address, 'Send Email To', class: 'control-label' %>
      <div class="controls">
        <%= form.text_field :to_address, :placeholder => 'Send Email To (address)', :size => nil, :class => "wide" %>
      </div>
    </div>

    <div class='closing_message control-group'>
      <%= form.label :closing_message, class: 'control-label' %>
      <div class="controls">
        <%= form.text_field :closing_message, :placeholder => 'Closing Message (optional)', :size => nil, :class => "wide" %>
      </div>
    </div>

    <div class='time_zone control-group'>
      <%= form.label :time_zone_name, 'Time Zone', class: 'control-label' %>
      <div class="controls">
        <%= form.select :time_zone_name, ActiveSupport::TimeZone.all.map(&:name), :class => "wide" %>
      </div>
    </div>

    <div class='ip_addresses control-group'>
      <%= form.label :ip_addresses_string, 'Authorized IP Addresses', class: 'control-label' %>
      <div class="controls">
        <%= form.text_area :ip_addresses_string, :class => "wide" %>
      </div>
    </div>

    <div class='start_time_string control-group'>
      <%= form.label :start_time_string, 'Start Time (ex. 9:06am)', class: 'control-label' %>
      <div class="controls">
        <%= form.text_field :start_time_string, :class => "wide" %>
      </div>
    </div>

    <div class='control-group'>
      <div class="controls">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
<%- end %>

