<%= form_for standup, html: {class: 'form-horizontal'} do |form| %>
<div class='block title'>
  <%= form.text_field :title, :placeholder => 'Title', :size => nil, :class => "wide" %>
</div>

<div class='block subject_prefix'>
  <%= form.text_field :subject_prefix, :placeholder => 'Email Subject Prefix', :size => nil, :class => "wide" %>
</div>

<div class='block ip_key'>
  <%= form.select :ip_key, AuthorizedIps::AUTHORIZED_IP_ADDRESSES.keys, {}, :class => "wide" %>
</div>

<div class='block to_address'>
  <%= form.text_field :to_address, :placeholder => 'Send Email To (address)', :size => nil, :class => "wide" %>
</div>

<div class='block closing_message'>
  <%= form.text_field :closing_message, :placeholder => 'Closing Message (optional)', :size => nil, :class => "wide" %>
</div>

<div class='block'>
  <%= form.submit class: 'btn btn-primary btn-block' %>
</div>
<%- end %>

