<%= form_for standup, html: {class: 'form-horizontal'} do |form| %>
  <fieldset>
    <div class='title control-group'>
      <div class='controls'>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>
    </div>

    <div class='subject_prefix'>
      <div class='controls'>
        <%= form.label :subject_prefix %>
        <%= form.text_field :subject_prefix %>
      </div>
    </div>

    <div class='ip_key'>
      <div class='controls'>
        <%= form.label :ip_key %>
        <%= form.select(:ip_key, AuthorizedIps::AUTHORIZED_IP_ADDRESSES.keys) %>
      </div>
    </div>

    <div class='to_address'>
      <div class='controls'>
        <%= form.label :to_address %>
        <%= form.text_field :to_address %>
      </div>
    </div>


    <div class='form-actions'>
      <%= form.submit class: 'btn, btn-primary' %>
    </div>
  </fieldset>
<%- end %>
