<% Item.kinds.each_with_index do |kind, index| %>
<div class="item-kind-section">
  <%= link_to(
        kind.name.pluralize,
        new_standup_item_path(@standup, post_id: @post.try(:id), 'item[kind]': kind.name),
        remote: true,
        'data-kind': kind.name,
        class: 'item-kind-heading',
        title: "Add #{kind.name} item"
    )
  %>
<% if kind.subtitle.present? %>
  <div class="item-kind-subheading"><%= kind.subtitle %></div>
<% end %>
<% if items[kind.name].present? %>
  <% if kind.name == Item::KIND_EVENT || kind.name == Item::KIND_NEW_FACE %>
    <% items[kind.name].group_by(&:relative_date).each do |group_name, entries| %>
      <div class="item-group-heading"><%= group_name %></div>
      <%= render entries %>
    <% end %>
  <% else %>
    <%= render items[kind.name] %>
  <% end %>
<% end %>
</div>
<% end %>
