<div class='outer'>
  <% Item::KINDS.each_slice(2) do |pair_of_kinds| %>
    <div class='two-wide'>
      <% pair_of_kinds.each do |kind| %>
        <div class='kind'>
          <div class="block header">
            <h2><%= kind.pluralize %></h2>

            <div class="spacer"></div>
            <%= link_to new_standup_item_path(@standup, post_id: @post.try(:id), 'item[kind]' => kind), 'data-kind' => kind do %>
              <i class="icon-plus-sign"></i>
            <% end %>
          </div>
          <% if items[kind].present? %>
            <% items[kind].each do |item| %>
              <div class="block item">
                <% if item.author.present? %>
                  <div class="author"><%= "#{item.author}" %></div>
                <% end %>
                <div class="title">
                  <%= date_label(item) %><%= item.title %>
                </div>
                <div class="description collapse" id="item_<%= item.id %>">
                  <%= item.description %>
                </div>
                <div class="tools">
                  <div class="spacer"></div>
                  <%= link_to edit_item_path(item) do %>
                    <i class="icon-edit"></i>
                  <% end %>
                  <%= link_to item, confirm: 'Are you sure?', method: :delete do %>
                    <i class='icon-trash'></i>
                  <% end %>
                  <% if item.description.present? %>
                    <a data-toggle="collapse" data-target="#item_<%= item.id %>">
                      <i class="icon-info-sign"></i>
                    </a>
                  <% end %>
                  <div class="spacer"></div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
