<div class="panel">
  <div class="panel-top-container">
    <div class="panel-close"></div>
  <% if controller.action_name == 'new' || controller.action_name == 'create' %>
    <div class="panel-title"><%= item.kind %> - New</div>
  <% else %>
    <div class="panel-title"><%= item.kind %> - Edit</div>
  <% end %>
  </div>
<% if item.persisted? %>
  <%= form_for(item, :method => :delete, html: {id: 'delete-form'}, remote: true) do |delete_form| %>
  <% end %>
<% end %>
  <%= form_for(item, url: (!item.persisted?) ? standup_items_path(@standup) : item_path(item), html: {class: 'panel-form'}, remote: true) do |f| %>
    <% # TODO: render errors %>
    <% # TODO: add kind switcher %>
    <% # TODO: add public switcher %>
    <% # TODO: add various messaging %>
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :kind %>
    <div class="panel-row">
      <div class="panel-column">
        <%= f.label(:standup_id) %>
        <%= f.collection_select(:standup_id, Standup.all, :id, :title) %>
      </div>
    </div>
    <div class="panel-row">
      <div class="panel-column">
        <%= f.label(:title) %>
        <%= f.text_field(:title, placeholder: "#{item.kind} Title") %>
      </div>
    </div>
    <div class="panel-row">
    <% if item.kind != Item::KIND_NEW_FACE %>
      <div class="panel-column">
        <%= f.label(:author) %>
        <%= f.text_field(:author, placeholder: 'Author') %>
      </div>
    <% end %>
      <div class="panel-column date">
        <%= f.label(:date) %>
        <%= f.text_field(:date, value: item.date || Date.today) %>
      </div>
    </div>
  <% if item.kind != Item::KIND_NEW_FACE %>
    <div class="panel-row">
      <div class="panel-column">
        <%= f.label(:description) %>
        <%= f.text_area :description, placeholder: markdown_placeholder, rows: 5 %>
      </div>
    </div>
  <% end %>
    <div class="panel-row button-row">
    <% if item.persisted? %>
      <div class="panel-column">
        <%= f.submit 'Delete', form: 'delete-form', data: {confirm: 'Are you sure you want to delete this item?'} %>
      </div>
    <% end %>
      <div class="panel-column">
        <%= f.submit ((item.persisted?) ? 'Update' : 'Create') %>
      </div>
    </div>
  <% end %>
</div>
<script>
  $('.panel-close').on('click', function(e) {
      e.preventDefault();
      $(this).closest('.panel-holder').hide();
  });
  $(".panel-form #item_date").datepicker({
      format: 'yyyy-mm-dd',
      container: '.panel-column.date'
  });
</script>