<h2 class="standup-title for-items"><%= @standup.title %></h2>
<% # TODO: alternate appearance for when there are no items %>
<div class="item-kind-sections">
  <%= render partial: 'as_html', locals: {items: @items} %>
  <script>
    $('.item-description-expander').on('click', function(e) {
      e.stopImmediatePropagation();
      e.preventDefault();
      $(this).prev().toggleClass('closed');
      $(this).toggleClass('closed');
    });
  </script>
</div>
<div class="panel-holder"></div>

<div class='bottom navbar navbar-fixed-bottom'>
  <div class='navbar-inner'>
    <%= form_tag "/standups/#{@standup.id}/posts", method: 'post', class: 'navbar-form pull-right' do %>
        <%= text_field_tag 'post[from]', nil, placeholder: 'Blogger Name(s)' %>
        <%= text_field_tag 'post[title]', nil, placeholder: 'Post Title (eg: Best Standup Ever)', class: 'wide-input' %>
        <%= submit_tag 'Create Post',
                       data: { confirm: 'This will clear the board and create a new one for tomorrow, you can always get back to this post under the "Posts" menu in the header. Continue?' },
                       id: 'create-post',
                       class: 'btn btn-warning'
        %>
    <% end %>
  </div>
</div>
