<%= render partial: 'as_html', locals: {items: @items} %>

<div class='bottom navbar navbar-fixed-bottom'>
  <div class='navbar-inner'>
    <%= link_to 'Presentation', presentation_standup_items_path(@standup), class: 'btn btn-success' %>
    <%= form_tag "/standups/#{@standup.id}/posts", method: 'post', class: 'navbar-form pull-right' do %>
        <%= text_field_tag 'post[from]', nil, placeholder: 'Blogger Name(s)' %>
        <%= text_field_tag 'post[title]', nil, placeholder: 'Post Title (eg: Best Standup Ever)', class: 'wide-input' %>
        <%= submit_tag 'Create Post',
                       confirm: 'This will remove these items from the board. Are you sure?',
                       id: 'create-post',
                       class: 'btn btn-warning'
        %>
    <% end %>
  </div>
</div>
