<section class="slide">
  <h1>Standup<br>
  <%= Time.now.strftime("%m/%d/%y") %></h1>
  <div class='footer'>
    <p>
      <%= link_to 'Exit', standup_items_path(@standup), class: 'btn btn-large btn-primary exit-presentation' %>
    </p>
  </div>
</section>

<% Item::KINDS.each do |kind| %>
  <section class="slide">
    <h2><%= kind.pluralize %></h2>
    <% if @items[kind] %>
      <ul>
      <% @items[kind].each do |item| %>
        <li>
          <%= format_title(item) %>
          <% if item.author.present? %>
            <%= "(#{ item.author })" %>
          <% end %>
          <% if item.description.present? %>
            <a data-toggle="collapse" data-target="#item_<%= item.id %>">
              <i class="icon-info-sign"></i>
            </a>
            <div class="block description collapse" id="item_<%= item.id %>">
              <%= item.description %>
            </div>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
    <div class='footer'>
      <p>
        <%= link_to 'Exit', standup_items_path(@standup), class: 'btn btn-large btn-primary exit-presentation' %>
      </p>
    </div>
  </section>
<% end %>

<section class="slide">
  <h1><%= standup_closing %></h1>
  <div class='footer'>
    <p>
      <%= link_to 'Exit', standup_items_path(@standup), class: 'btn btn-large btn-primary exit-presentation' %>
    </p>
  </div>
</section>
