<section class="slide">
  <h1>Standup<br>
  <%= Time.now.strftime("%m/%d/%y") %></h1>
</section>
<% Item::KINDS.each do |kind| %>
  <section class="slide">
    <h2><%= kind.pluralize %></h2>
    <% if @items[kind] %>
      <ul>
      <% @items[kind].each do |item| %>
        <li>
          <%= format_title(item) %>
          <% if item.author.present? %>
            <%= "(#{ item.author })" %>
          <% end %>
        </li>
      <% end %>
      </ul>
    <% end %>
  </section>
<% end %>

<section class="slide">
  <h1><%= standup_closing %></h1>
  <div class='footer'>
    <p>
      <%= link_to 'Exit', standup_items_path(@standup) %>
    </p>
  </div>
</section>
