<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lekton:400,400italic,700', :media => 'all' %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon-precomposed" href="<%= asset_path 'whiteboard-icon.png' %>">
</head>
<body>

<div class="navbar navbar-fixed-top">
<% if @standup.present? && @standup.persisted? %>
  <div class="navbar-inner">
    <% # TODO: figure out any other spots that would need a back arrow to somewhere else %>
    <%= link_to '', standups_path, class: 'back-navigation', title: 'Back' %>
    <div class="action-wrapper">
    <% if controller.controller_name == 'items' && controller.action_name == 'index' %>
      <%= link_to '', presentation_standup_items_path(@standup), class: 'action action-icon presentation', title: 'Presentation' %>
      <%= link_to '', archived_standup_posts_path(@standup), class: 'action action-icon archived', title: 'Archived' %>
      <% # TODO: "Current Post" (standup_path(@standup)) and "Pending Posts #{pending_post_count(@standup)}" (standup_posts_path(@standup) %>
      <%= link_to '', edit_standup_path(@standup), class: 'action action-icon settings', title: 'Preferences' %>
    <% end %>
    </div>
  </div>
<% else %>
  <div class="navbar-inner navbar-main">
    <div class="action-wrapper">
    <% #if session['logged_in'] %>
      <%= link_to 'Sign out', '/logout', class: 'action action-text' %>
    <% #end %>
    </div>
  </div>
<% end %>
</div>

<% if @boxed %>
    <div class="outer">
    <% end %>
<% if flash[:error] %>
  <div class="alert alert-error"><%= flash[:error] %></div>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<%= yield %>
<% if @boxed %></div>
<% end %>


</body>
</html>
